* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

#headervideo {
    width: 100%;
    z-index: -1;
}


.backgroundphoto {
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}


header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: auto;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    height: 100px;
    color:  rgb(27, 26, 26);
    width: 100%;
}

#logo {
    position: absolute;
    color: white;
    font-size: 90px;
    margin-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

#logo2 {
    position: absolute;
    color: white;
    font-size: 70px;
    margin-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.admin-logo {
    padding-top: 30px;
    width: 100%;
    font-size: 90px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: rgb(51, 50, 50);
    background-color: rgba(255, 255, 255, 0.658);
    height: 90px;
}

.right-side {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.create {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 35px;
    width: 70%;
    height: 68%;
    background-color: rgba(255, 255, 255, 0.925);
    border: 1px solid black;
    
}

.post-input {
    width: 100%;
}

.post-input > h2 {
    margin-top: 5px;
}

.logout {
    display: flex;
    cursor: pointer;
    width: 33px;
    height: 33px;
    opacity: 0.3;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 15px;
}

.logout:hover {
    opacity: 1;
  }

  .logout:before, .logout:after {
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .logout:before {
    transform: rotate(45deg);
  }
  .logout:after {
    transform: rotate(-45deg);
  }
  

.select-tags {
    margin-top: 10px;
    height: 47%;
    width: 90%;
    font-size: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.658);
    border-bottom: 1px solid black;
    text-align: center;
}

.select {
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    height: 28px;
    padding-top: 10px;
}

select > option {
    cursor: pointer;
}

select > option:hover {
    color: rgb(172, 165, 165);
}

.post-tags {
    display: flex;
}

.select-category {
    width: 90%;
    height: 27%;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.658);
    border-bottom: 1px solid black;
}

.create-post {
    width: 96%;
    color: rgb(61, 59, 59);
    font-size: 20px;
}

input[type=text] {
    border: none;
    padding: 10px;
    transition: border 0.3s;
    background-color: rgb(255, 255, 255);
    width: 632px;
    padding: 10px;
    margin: 10px 0px 5px 0px;
    font-size: 20px;
    box-sizing: border-box;  
    border-bottom: 1px solid black;
}

input[id=text]{
    height: 250px;
}

.textfield {
    border: none;
    width: 632px; 
    height: 335px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
}

input::placeholder {
    color: rgba(61, 60, 60, 0.425); 
    font-style: italic;
}

textarea::placeholder {
    color: rgba(61, 60, 60, 0.425);
    font-style: italic;
}

.save {
    border: none;
    font-size: 35px;
    color: rgb(46, 44, 44);
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    cursor: pointer;
}

.arrow {
    display: flex;
    align-items: center;
  }
  
  .arrow-head {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 10px;
    transform: rotate(135deg);
    margin-left: 15px;
  }
  
  .arrow-arm {
    width: 20px;
    height: 3px;
    background-color: black;
    margin-left: -15px;
  }
  
  .arrow:hover .arrow-arm {
    animation: arm 800ms ease infinite;
  }
  
  .arrow:hover .arrow-head {
    animation: head 800ms ease infinite;
  }
  
  @keyframes arm {
    35% { 
      transform: translateX(-25%);
      width: 25px;
    }
  }
  
  @keyframes head {
    35% { 
      transform:
        translateX(-25%)
        rotate(135deg);
    }
  }


/* INDEX */

.index {
    display: flex;
    flex: 1;
    width: 70%;
    height: 55%;
    margin: auto;
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.658);
}

.loginsection {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.search {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.288);
}

.search > h2, .create-h2 {
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.navmenu {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.searchposts {
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left:50px;
}

.searchposts > li {
    color: rgb(53, 53, 51);
}

.categories > li > a , .tags > li > a {
    color: rgb(192, 115, 79);
    margin-left: 15px;
}

.categories > li > a:hover , .tags > li > a:hover {
    color: rgb(231, 226, 220);
}

.categories, .tags {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}




/* LOGGA IN */
.user-login {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.473);
    width: 80%;
    height: 70%;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
}

.login {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.logintext {
    display: flex;
    flex-direction: column;
}

#username, #password {
    width: 100%;
    height: 10%;
    font-size: 12px;
    background-color:rgba(255, 255, 255, 0);
    border-bottom: 1px solid black;
}

#loginbutton {
    border: none;
    text-transform: uppercase;
    background-color:rgba(255, 255, 255, 0);
    font-size: 20px;
}




.book {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.288);
}

.theBook {
    margin-top: 100px;
    margin-left: 120px;   
}

footer {
    width: 100%;
    display: flex;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.678);
    position: absolute;
    bottom: 0px;
    justify-content: center;
}

footer > h5 {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 20px;
}
