* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

body {
    background-image: url("./images/chas.png");
}


body:after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, transparent 0%, rgba(138, 198, 199, 0.473) 100%);
  }

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: auto;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    height: 150px;
    color:  rgb(245, 238, 238);
    width: 70%;
    opacity: 0.7;
}

.logout {
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color:  rgb(218, 213, 213);
}

.create-post-h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: rgb(192, 187, 187);
    margin-left: 195px;
}

.create {
    display: flex;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.096);
    width: 70%;
    height: 59%;
}

.select-tags {
    font-size: 17px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: rgba(26, 25, 25, 0.281);
    margin: 10px;
    color: rgb(218, 213, 213);   
}

.tag {
    display: flex;
    align-items: center;
}

.check-tags {
    margin-right: 5px;
}

label:hover {
    cursor: pointer;
    color: rgba(26, 25, 25, 0.479);
}


.create > h2 {
    text-align: center;
    color: rgb(61, 59, 59);
    font-size: 20px;
    position: absolute;
    margin-left: 19px;
}

.create-post {
    width: 96%;
    color: rgb(61, 59, 59);
    font-size: 20px;
}

select#soflow {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: rgb(139, 137, 137);
    font-size: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    cursor: pointer;
 }

.category-save {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}

.save {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(218, 213, 213); 
    margin-right: 11px;
    padding-left: 225px;
    padding-right: 10px;
}

.save:hover {
    cursor: pointer;
    color: rgba(26, 25, 25, 0.479);
}

input[type=text] {
    width: 632px;
    padding: 10px;
    margin: 10px 0px 5px 0px;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 193, 193);
}

input[id=text]{
    height: 250px;
}

.textfield {
    width: 610px; 
    height: 300px;
    font-size: 20px;
    padding: 10px;
}


/* INDEX */

.box {
    width: 70%;
    height: 60%;
    margin: auto;
}

.create-link {
    color: rgb(245, 238, 238);
    width: 200px;
}


/* NY ANVÄNDARE */
.new-user-info {
    display: flex;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.096);
    width: 53%;
    height: 65%;
}

.create-user {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    font-size: 12px;
}

input[type="submit"] {
    font-size: 50px;
    width: 50%;
}

.submit-buttons {
    display: flex;
}

