* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

#headervideo {
    width: 100%;
    z-index: -1;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: auto;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    height: 100px;
    color:  rgb(27, 26, 26);
    width: 100%;
}

#logo {
    position: absolute;
    color: white;
    font-size: 90px;
    margin-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.info {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logout {
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    color:  rgb(218, 213, 213);
}

.create-post-h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(192, 187, 187);
}

.create {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 70%;
    height: 50%;
}

.tags-input {
    font-size: 17px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: rgba(26, 25, 25, 0.418);
    margin: 8px;
    color: rgb(218, 213, 213);   
}

.post-tags {
    display: flex;
}

label:hover {
    cursor: pointer;
    color: rgba(26, 25, 25, 0.479);
}


.create > h2 {
    text-align: center;
    color: rgb(61, 59, 59);
    font-size: 20px;
    position: absolute;
    margin-left: 19px;
}

.create-post {
    width: 96%;
    color: rgb(61, 59, 59);
    font-size: 20px;
}

.category-save {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type=checkbox]{
    display: none;
}


input[type=checkbox]:checked + label {
    color: rgba(26, 25, 25, 0.479);
}

input[type=text] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #2e2d2d;
    transition: border 0.3s;
    background-color: rgba(255, 255, 255, 0);
    width: 632px;
    padding: 10px;
    margin: 10px 0px 5px 0px;
    font-size: 20px;
    box-sizing: border-box;  
}

input[id=text]{
    height: 250px;
}

input[type=submit]:hover {
    background-color: rgba(26, 25, 25, 0.479);
}

.textfield {
    width: 610px; 
    height: 285px;
    font-size: 20px;
    padding: 10px;
}


/* INDEX */

.index {
    display: flex;
    flex: 1;
    width: 60%;
    height: 50%;
    margin: auto;
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.363);
}

.loginsection {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.search {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.171);
}

.search > h2, .create-h2 {
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.navmenu {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.searchposts {
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left:100px;
}

.searchposts > li {
    color: rgb(53, 53, 51);
}

.categories > li > a , .tags > li > a {
    color: rgb(192, 115, 79);
    margin-left: 15px;
}

.categories > li > a:hover , .tags > li > a:hover {
    color: rgb(231, 226, 220);
}

.categories, .tags {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}




/* LOGGA IN */
.user-login {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.171);
    width: 65%;
    height: 70%;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
}

.login {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.logintext {
    display: flex;
    flex-direction: column;
}

#username, #password {
    width: 100%;
    height: 10%;
    font-size: 12px;
}

#loginbutton {
    border: none;
    text-transform: uppercase;
    background-color:rgba(255, 255, 255, 0);
    font-size: 20px;
}

