body {
    background-color: rgba(128, 128, 128, 0.082);
}

.backgroundimage {
    position: fixed;
    top: 45px;
    left: 20px;
    width: 450px;
    height: 450px;
    z-index: -1;
}

.Logout {
    display: flex;  
    cursor: pointer;
    text-transform: uppercase;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    float: right;
    margin-right: 158px;
    color: black;
}

.New {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-bottom: 15px;
    font-size: 24px;
    cursor: pointer;
    float:right;
    text-transform: uppercase;
}

.showPosts {
    width: 100%;
    background-color: rgba(243, 239, 239, 0.116);
    margin-top: 130px;
    text-align: center;
    margin-left: 20px;
}

.post {
    width: 53%;
    margin: auto;
    text-align: center;
    min-height: 200px;
}

.searchTags {
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 135px;
    font-size: 17px;
    position: fixed;
    width: 250px;
    align-items: flex-end;
}

.searchTags > li > a {
    color: rgb(192, 115, 79);
}

.title {
    margin-top: 70px;
    border-bottom: 1px solid rgba(192, 115, 79, 0.459);
    text-transform: uppercase;
}

article > h5 > a:hover, .postTags > h5 > a:hover {
    color: rgb(231, 226, 220);
}

.body {
    color: rgb(78, 76, 76);
    margin-top: 40px;
    min-height: 300px;
    text-align: start;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 15px;
}

.postButtons {
    display: flex;
    background-color: rgba(128, 128, 128, 0);
    cursor: pointer;
    float: right;
}

.postButtons > form > button {
    display: flex;
    opacity: 0.8;
    cursor: pointer;
    font-size: 28px;
    margin-right: 10px;
    background-color: rgba(128, 128, 128, 0);
    border: none;
}

.postButtons > form > button:hover {
    color: rgb(192, 115, 79);
}

.postTags {
    margin-bottom: 35px;
}

.postCategory {
    text-align: center;
    color: rgb(192, 115, 79);
}

.taglinks {
    margin-left: 1px;
    color: rgb(192, 115, 79);
    margin-bottom: 35px;
}


.back {
    display: flex;
    width: 100%;
    margin-top: -120px;
    margin-left: 160px;
    text-transform: uppercase;
    align-items: center;
}

.arrow {
    color: black;
    margin: 3px;
    font-size: 20px;
}

.top {
    position: fixed;
    top: 700px;
    left: 80px;
    color: rgb(39, 39, 38);
}