* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

#video {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100vh;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-transform: uppercase;
    height: 100px;
    color:  rgb(27, 26, 26);
    width: 100%;
}

#logo {
    position: absolute;
    font-size: 100px;
    margin-top: 40px;
}

.logoLink {
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.welcome {
    width: 100%;
    position: absolute;
    margin-top: 15px;
    right: 158px;
    font-size: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
}

#loginbutton:hover {
    cursor: pointer;
    color: rgb(192, 115, 79);
}


/* SEARCH */
.index {
    display: flex;
    flex: 1;
    width: 75%;
    height: 50%;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 105px;
    background-color: rgba(255, 255, 255, 0.733);
}

.search {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.288);
}

.search > h2, .create-h2 {  
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.searchposts {
    display: flex;
    flex-direction: column;  
}

.categories {
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.navmenu {
    font-size: 20px;
    text-transform: uppercase;
}

.categories > li > a , .tags > li > a, .tags2 > li > a, nav > a {
    color: rgb(192, 115, 79);
}

.categories > li > a:hover , .tags > li > a:hover, nav > a:hover, .tags2 > li > a:hover {
    color: rgb(231, 226, 220);
}

.tags, .tags2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tags {
    align-items: flex-end;
    width: 200px;
}

.taggar {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.tags > li > a , .tags2 > li > a {
   line-height: 25px;
}



/* LOGIN */
.loginsection {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.user-login {
    background-color: rgba(255, 255, 255, 0.596);
    width: 90%;
    height: 90%;
    margin: auto;
    margin-bottom: 25px;
}

#password {
    width: 80%;
    height: 35px;
    font-size: 12px;
    background-color:rgba(255, 255, 255, 0.61);
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 30px;
}

#loginbutton {
    padding: 5px;
    height: 35px;
    border: 1px solid black;
    border-left: none;
    background-color:rgba(255, 255, 255, 0);
    font-size: 20px;
    margin-top: 95px;
    border-radius: 0;
}

.inputbutton {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

section > form > h5 {
    margin-left: 30px;
}

.help {
    text-align: center;
}
